.nav{
    position: fixed;
    width: 100%;
    top:0;
    height: 30px;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_logo{
    width: 90px;
    object-fit: contain;
    position: fixed;
    left:20px;
    margin-left: 1%;
    margin-top: 0.4%;
}

.nav_avatar{
    position: fixed;
    right: 40px;
    width: 48px;
    object-fit: contain;
    border-radius: 5px;
    margin-top: -0.6%;
}

.nav_black{
    background-color: #111;
}